.contact-form input{
    background-color: transparent;
    color: white;
    /* border: 0px; */
    border-right: 1px solid white; 
}

.contact-form textarea{
    background-color: transparent;
    color: white;
    /* border: 0px; */
    border-right: 1px solid white; 
}

.socialmedia{
    gap: 50px;
}

.socialmedia a{
    color: white;
}

.socialmedia svg:hover{
    transform: scale(1.3);
    
    cursor: pointer;
}